extends ../../../layouts/account

block head
  title Live Joystick Lab
  //meta(http-equiv='refresh', content='30')


block neck
  style.
    .microscope-name{
      text-transform:capitalize;
      font-size:1em;
    }

    .time-left{
      color:red;
      font-size:1em;
    }

    .aside {
      background-color:#ffffff;
    }

    #camera {
      background-color:#d3d3d3;
      width:100%;
      height:auto;
    }

    .joystick-container{
      position: relative;
      width: 100%;
      max-width: 360px;
      max-height:360px;
      height: 0;
      display: table;
      overflow:hidden;
    }

    #joystick {
      width: 100%;
    }

    .canvas-joystick-off {
      background-color:#A0A0A0;
    }

    .canvas-joystick-on {
      background-color:#66b2ff;
    }
    
    *.unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .video-section{
      position: relative;
      width: 100%;
      max-width: 780px;
      max-height:520px;
      height: 0;
      display: table;
      //- outline:1px dashed black;
      overflow:hidden;
    }

    .video-container {
      z-index:0;
      padding:20px;
      outline:1px dashed black;
    }

    .video {
      background-color:#d3d3d3;
      width:100%;    
    }

    .scale-section {
      position:absolute;
      height:30px;
      width:#{data.lengthScale100um};
      bottom:9%;
      right:7%;
      z-index:99;
      background-color: rgba(0,0,0,0.15);
      text-align:center;
    }

    .scale {
      background-color:rgba(255,255,0,1);
      position:relative;
      width:100%;
      height:10px;
      border:1px solid #5f5f5f;
    }

    .scale-text {
      position:relative;
      text-align:center;
      font-size:95%;
      font-weight:600;
      color:#fff;
      bottom:0px;
    }

    .spacer{
      position: absolute;
      width: 20px;
      height: 20px;
      background-color:black;
      z-index:99;
    }

    .spacer.left{
        left:0;
    }

    .spacer.top{
        top:0;
    }

    .spacer.bottom{
        bottom:0;
    }

    .spacer.right{
        right:0;
    }

    .light{
      position: absolute;
      text-align:center;
      display: table-cell;
      border:1px solid black;
      white-space: nowrap;
    }

    .light.top, .light.bottom{
      width: 100%;
      height: 20px;
    }

    .light.left, .light.right{
      width: 20px;
      height: 100%;
      vertical-align: middle;
      //- max-height:480px;
    }

    .light.top{
      top:0;
      background-color:rgba(255,255,0,#{data.lightData.topLightAlpha});
    }

    .light.bottom{
      bottom:0;
      background-color:rgba(255,255,0,#{data.lightData.bottomLightAlpha});
    }

    .light.left{
      top:0;
      left:0;
      background-color:rgba(255,255,0,#{data.lightData.leftLightAlpha});
    }

    .light span{
      display: inline-block;
      line-height:20px;
    }

    .light.left span, .light.right span{
      position: relative;
      top: 50%;
    }

    .light.left span{
      -webkit-transform: rotate(-90deg);
      /* Firefox */
      -moz-transform: rotate(-90deg);
      /* IE */
      -ms-transform: rotate(-90deg);
      /* Opera */
      -o-transform: rotate(-90deg);
      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }

    
    .light.right span{
      -webkit-transform: rotate(90deg);
      /* Firefox */
      -moz-transform: rotate(90deg);
      /* IE */
      -ms-transform: rotate(90deg);
      /* Opera */
      -o-transform: rotate(90deg);
      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    }

    
    .light.right{
      top:0;
      right:0;
      background-color:rgba(255,255,0,#{data.lightData.rightLightAlpha});
    }

block feet
  script(src='/views/account/livelab/index.min.js?#{cacheBreaker}')
  script(src="/views/account/livelab/Canvas_Joystick.js")
  script(src='/views/account/livelab/socket-client.js')

block body
  div.row
    div.col-xs-8
      h3.unselectable 
       span.microscope-name(name='microscopeName')
       span.time-left.pull-right(name='timeLeftInLab')
    div.col-xs-4
  
  div.row
    div.col-xs-8.unselectable

      div.video-section.unselectable
        div.spacer.left.top.unselectable(name='spacer')
        div.light.top.unselectable(name='myTopLight')
          span #{data.lightData.topValue}
        div.spacer.right.top.unselectable(name='spacer')
        div.light.left.unselectable(name='myLeftLight') 
          span #{data.lightData.leftValue}
        div.video-container.unselectable
          img.video.unselectable(src='#{data.mainImageIP}')
          div.scale-section.unselectable
            div.scale.unselectable(name='myScale')
            span.scale-text.unselectable 100 &mu;m
        div.light.right.unselectable(name='myRightLight') 
          span #{data.lightData.rightValue}
        div.spacer.left.bottom.unselectable(name='spacer')
        div.light.bottom.unselectable(name='myBottomLight') 
          span #{data.lightData.bottomValue}
        div.spacer.right.bottom.unselectable(name='spacer')

    div.col-xs-4.aside.unselectable
      div#joystick-container
        div#joystick(name='myJoystick')
      img#camera.unselectable(name='myImage2', src='#{data.sideImageIP}')

  div.modal.fade(role="dialog")

  script(type='text/template',id="tmpl-survey")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
            h4.modal-title Send us your feedback
        div.modal-body
          .form-group
              label Rate your experience
              div
                  input.form-control.rating(type="hidden",name="rating")
          .form-group
              label Note for support team
              textarea.form-control(rows="5",style="width:100%", name="notes")
        div.modal-footer
          button.btn.btn-primary#btn-submit(type="submit",value="submit") Submit  
          button.btn.btn-default#btn-close(type="button",value="close", data-dismiss="modal") Close  
    

  script(type='text/lab', id='data-user') !{data.user}
  script(type='text/lab', id='data-bpu') !{data.bpu}
  script(type='text/lab', id='data-bpuExp') !{data.bpuExp}
  script(type='text/template', id='data-session') !{data.session}
  script(type='text/lab', id='data-setLedsObj') !{data.setLedsObj}
