extends ../../../layouts/account

block head
  title Live Joystick Lab
  //meta(http-equiv='refresh', content='30')


block neck
  style.
    .myMainRow {
      background-color:#ffffff;
      margin-top:1%;
      height:#{data.divInfo.mainRowHeight};
      width:#{data.divInfo.mainRowWidth};
      float:left;
    }

    .myMainCol {
      background-color:#ffffff;
      height:100%;
      height:#{data.divInfo.mainColHeight};
      width:#{data.divInfo.mainColWidth};
      float:left;
    }
    .myLightSpacer {
      background-color:rgba(0,0,0,0.5);
      height:#{data.divInfo.lightShort};
      width:#{data.divInfo.lightShort};
      float:left;
      text-align:center;
      border-style:solid;
      border-width:1px;
    }
    .myTopLight {
      background-color:rgba(255,255,0,#{data.lightData.topLightAlpha});
      height:#{data.divInfo.lightShort};
      width:#{data.divInfo.lightLong};
      float:left;
      text-align:center;
      border-style:solid;
      border-width:1px;
    }
    .myLeftLight {
      background-color:rgba(255,255,0,#{data.lightData.leftLightAlpha});
      height:#{data.divInfo.lightLong};
      width:#{data.divInfo.lightShort};
      float:left;
      text-align:center;
      border-style:solid;
      border-width:1px;
    }
    #myImage {
      background-color:#d3d3d3;
      height:#{data.divInfo.imageHeight};
      width:#{data.divInfo.imageWidth};
      float:left;
      z-index:1;
    }
    #myVideo {
      background-color:#d3d3d3;
      width:100%;
      float:left;
      z-index:1;
    }

    #myRightLight {
      background-color:rgba(255,255,0,#{data.lightData.rightLightAlpha});
      height:#{data.divInfo.lightLong};
      width:#{data.divInfo.lightShort};
      float:left;
      text-align:center;
      border-style:solid;
      border-width:1px;
      z-index:1;
    }
    #myBottomLight {
      background-color:rgba(255,255,0,#{data.lightData.bottomLightAlpha});
      height:#{data.divInfo.lightShort};
      width:#{data.divInfo.lightLong};
      float:left;
      text-align:center;
      border-style:solid;
      border-width:1px;
      z-index:1;
    }
    #myAside {
      background-color:#ffffff;
      height:#{data.divInfo.asideColHeight};
      width:#{data.divInfo.asideColWidth};
      float:left;
      z-index:1;
    }

    #myImage2 {
      background-color:#d3d3d3;
      height:#{data.divInfo.sideImageHeight};
      width:#{data.divInfo.sideImageWidth};
      float:left;
    }
    #myJoystick {
      background-color:#A0A0A0;
      height:#{data.divInfo.joystickHeight};
      width:#{data.divInfo.joystickWidth};
      float:left;
    }

    #myScalebar {
      //- background-color:rgba(0,0,0,0.0);
      position:relative;
      height:8%;
      width:#{data.lengthScale100um};
      text-align:center;
      border-style:solid;
      border-width:0px;
      top:90%;
      left:80%;
      z-index:10;
    }

    #myScale {
      background-color:rgba(255,255,0,1);
      position:relative;
      width:100%;
      height:10px;
      text-align:center;
      border-style:solid;
      border-width:1px;
      z-index:11;
    }

    #myScaleText {
      position:absolute;
      z-index:11;
      top:55%;
      left:15%;
      font-size:16px;
      font-weight:bold;
      color:rgb(0,0,0);
    }

    .canvas-joystick-off {background-color:#A0A0A0;}
    .canvas-joystick-on {background-color:#66b2ff;}

  
    *.unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

block feet
  script(src='/views/account/livelab/index.min.js?#{cacheBreaker}')
  script(src="/views/account/livelab/Canvas_Joystick.js")
  script(src='/views/account/livelab/socket-client.js')

block body
  h3#labTimeLeftLabel.unselectable(name=data.timeLeftInLab.jadeName) #{data.lightData.topValue} #{data.timeLeftInLab.value}
  
  if data.divInfo.hasAside
    div.row
      div.col.myMainRow.unselectable(name='myMainRow')
        div.myMainCol.unselectable(name='myMainCol')
          div.myLightSpacer.unselectable(name='myLightSpacer')
          div.myTopLight.unselectable(name='myTopLight') #{data.lightData.topValue}
          div.myLightSpacer.unselectable(name='myLightSpacer')
          //- div.myLeftLight
          //-   span(name='myLeftLight',style='vertical-align:middle') #{data.lightData.leftValue}
          div.myLeftLight.unselectable(name='myLeftLight') #{data.lightData.leftValue}
          div#myImage.unselectable
            img#myVideo.unselectable(src='#{data.mainImageIP}')
            div#myScalebar.unselectable(name='myScalebar')
              center
                div#myScale.unselectable(name='myScale')
                  center
                    span#myScaleText.unselectable 100um
          div#myRightLight.unselectable(name='myRightLight') #{data.lightData.rightValue}
          div.myLightSpacer.unselectable(name='myLightSpacer')
          div#myBottomLight.unselectable(name='myBottomLight') #{data.lightData.bottomValue}
          div.myLightSpacer.unselectable(name='myLightSpacer')
        div.col#myAside.unselectable(name='myAside')
          div#myJoystick.canvas-joystick-off(name='myJoystick')
          img#myImage2.unselectable(name='myImage2', src='#{data.sideImageIP}')
      div.unselectable.hide
        div(style="margin:0 0 0 10px;float:right")
          h4 Send us your feeback
          .form-group
            label Do you see euglena moving?
            div
              .radio-inline
                input(type="radio",name="data.survey.euglena_moving",value="yes")
                | Yes
              .radio-inline(style="margin-left:20px")
                input(type="radio",name="data.survey.euglena_moving",value="no")
                | No
          .form-group
            label Rate your experience
            div
              input.form-control.rating(type="hidden", value="${data.survey.rating}")
          .form-group
            label Notes
            textarea.form-control(rows="5",value="data.survey.notes",style="width:220px")
          .form-group
            button.btn.btn-primary(type="submit",value="submit") Submit


  else
    div.row.myMainRow(name='myMainRow')
      div.col.myMainCol(name='myMainCol')
        div.myLightSpacer(name='myLightSpacer')
        div.myTopLight(name='myTopLight') #{data.lightData.topValue}
        div.myLightSpacer(name='myLightSpacer')
        div.myLeftLight(name='myLeftLight') #{data.lightData.leftValue}
        img#myImage(name='myImage', src='#{data.mainImageIP}')
        div#myScalebar(name='myScalebar')
          center
            div#myScale(name='myScale')
              center
                span#myScaleText 100um
        div#myRightLight(name='myRightLight') #{data.lightData.rightValue}
        div.myLightSpacer(name='myLightSpacer')
        div#myBottomLight(name='myBottomLight') #{data.lightData.bottomValue}
        div.myLightSpacer(name='myLightSpacer')

  script(type='text/lab', id='data-user') !{data.user}
  script(type='text/lab', id='data-bpu') !{data.bpu}
  script(type='text/lab', id='data-bpuExp') !{data.bpuExp}
  script(type='text/template', id='data-session') !{data.session}
  script(type='text/lab', id='data-setLedsObj') !{data.setLedsObj}
